:root {
  --title-color: #31456a;
  --background-color: #e3edf7;
  --svg-color: #b7c5d3;
  --silver: #cbd7e3;
  --red: #f7455c;
}
html {
  font-size: 62.5%;
}

dial {
  height: 400px;
  width: 400px;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.8rem;
  text-transform: uppercase;
  color: var(--title-color);
  font-weight: 600;
  margin: 3rem;
}
.timer-container {
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 1rem;
}

* {
  font: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* background-color: #f4edea; */
}

input {
  display: block;
  border: none;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  font-size: 90px;
  text-align: center;
  color: var(--title-color);
  background-color: var(--background-color);
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.5);
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}
.controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
}
.stroke {
  background-color: red;
}
.wrapper-timer {
  margin: 1rem;
  border-radius: 2rem;
  background: white;
  min-height: 80vh;
  min-width: 30vw;
  background: var(--background-color);
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.5);
}
.control-play-stop {
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.control-play-stop button {
  height: 4.8rem;
  width: 4.8rem;
  margin: 2rem;
  border: none;
  border: 2px solid var(--silver);

  background-color: var(--background-color);
  box-shadow: 8px 6px 16px 0 rgba(0, 0, 0, 0.2), -8px -8px 12px 0 rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
}
circle {
  padding: 1rem;
}
.filter {
  filter: drop-shadow(0.35rem 0.4rem 0.4rem rgba(255, 255, 255, 0.8));
}

@media screen and (max-width: 700px) {
  .wrapper-timer {
    transform: scale(0.9);
    min-width: 100%;
  }
  h1 {
    margin: 1rem;
  }
}
@media screen and (max-width: 350px) {
  /* .wrapper-timer {
    transform: scale(0.9);
  } */
  h1 {
    margin: 0.5rem;
  }
}
